<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments/general.html :: headerfiles">
<!-- copied from fragments.html -->
</head>

<body class="noPrint" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

<!-- HEADER -->
    <header th:insert="fragments/general.html :: header" id="header" class="top-wrap"> </header>
	<nav th:insert="fragments/general.html :: navbar" id="menu" class="navbar navbar-expand-lg ftco-navbar-light"></nav>
  <section class="hero-wrap hero-wrap-2 section_about" style="background-image: url('images/bg_4-1.jpg?v=2');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 pt-5 mt-5 text-center">
          <p class="breadcrumbs">
            <span class="me-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span>
            <span>Collaborator <i class="fa fa-chevron-right"></i></span>
          </p>
          <h1 class="mb-0 bread ">COLLABORATOR</h1>
        </div>
      </div>
    </div>
  </section>

<!-- END	HEADER -->

<!-- BODY -->



  <section class="ftco-section testimony-section bg-light">
    <div class="container-xl">
      <div class="row">
        <div class="col-md-12 main-content" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
          ATC aims to strategically co-work with companies that share our vision and values in order to create
          synergistic effects, effectively delivering products and services to customers. Our goal is to enhance
          competitiveness through sharing strengths, experiences, and expertise in respective fields, as well as
          strategic marketing collaboration.
        </div>
      </div>
    </div>
  </section>



  <!-- START EDUCATION -->
  <section class="ftco-section courses-section">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-10 text-center heading-section" data-aos="fade-up">
          <h2 class="mb-5">EDUCATION</h2>
        </div>
      </div>
      <div class="row">

        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom ict-bussiness">
            <div class="d-flex thumbnail">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/AIPalm_AIA-logo.jpg" alt="" >
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <div class="meta">
                AIACADEMY, operated by AIPalm, is an educational institution for developers specializing in the 4th industrial revolution, and operates offline state-funded education and online courses that are differentiated from other institutions.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom ict-bussiness">
            <div class="d-flex thumbnail ">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/BITCamp-logo.png" alt="">
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <div class="meta">
                Steeped in history and tradition Leading hands-on IT education in Korea.<br/>
                Technology grows as it is divided.<br/>
                cultivate talented people and give them back to society.<br/>
                BitCamp Preparing for the Top.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom ict-bussiness">
            <div class="d-flex thumbnail">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/Codepresso-logo-blue.png" alt="">
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <pre class="meta">
C O D E . P R E S S O
D E V
    { E D U C A T I O N }
    { M A N G E M E N T }
    { H I R I I N G     } 
              P L A T F O R M 
              </pre>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom ict-bussiness">
            <div class="d-flex thumbnail">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/SmartnPlay-logo.png" alt="">
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <div class="meta">We are a trend leader in the early childhood education industry (Edu-Tech).<br/>
                It is a company that produces and services new education programs for the new era and produces and services IT education programs for the 4th industry for infants.</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom ict-bussiness">
            <div class="d-flex thumbnail">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/globepoint.png" alt="">
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <div class="meta">Globepoint, a global company specializing in creating future value in the edtech sector, provides a new paradigm for education by developing VR content by experts and connecting with educational content around the world.</div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
  <!-- END TECHNOLOGY -->

  <!-- START ICT BUSINESS -->
  <section class="ftco-section courses-section">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-10 text-center heading-section" data-aos="fade-up">
          <h2 class="mb-5">ICT BUSSINESS</h2>
        </div>
      </div>
      <div class="row">

        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom ict-bussiness">
            <div class="d-flex thumbnail">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/BA-logo-black.png" alt="">
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <div class="meta">Founded in 2006, a HCMC-based film & video production company merging professional video production and new media technologies. We unite talented creatives, aiming for global recognition in the entertainment industry.</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom ict-bussiness">
            <div class="d-flex thumbnail">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/ThePlayer-logo.png" alt="">
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <div class="meta">
                The Player will share "high-technology" and "good-technology" together with Vietnam society continuously by belief, "The technology will bigger as share"

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom ict-bussiness">
            <div class="d-flex thumbnail">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/aipalm.jpg" alt="">
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <div class="meta">
                Pioneering IT future with cutting-edge technology, new business discovery, innovative solutions, technical support, and superior customer service.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom ict-bussiness">
            <div class="d-flex thumbnail">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/BASESTONE_gray-logo.jpg" alt="">
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <div class="meta">
                Generated by applying the principle of quantum uncertainty, quantum random numbers are completely random, untraceable, and unpredictable, with no algorithms and no patterns.<br/>
                Quantum cryptography is the surest way to keep your business safe from ever-advancing hacking attempts. against ever-advancing hacking attempts.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom ict-bussiness">
            <div class="d-flex thumbnail">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/nanorex.jpg?v=1" alt="">
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <div class="meta">NANOREX is developing eco-friendly items while expanding its business fields. We, NANOREX, are always focusing on the health of our customers with our eco-friendly item business and idea household products. We are endeavoring to research products for the convenience of students.</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom ict-bussiness">
            <div class="d-flex thumbnail">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/deepscent-logo.png" alt="">
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <div class="meta">deepscent Co., Ltd. is a company that provides a digital olfactory solution service to create a healthy and happy daily life for modern people by adding technology to fragrance together with a research and development team from KAIST, a market expert team, and experts in R&D of digital healthcare. </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom ict-bussiness">
            <div class="d-flex thumbnail">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/rockwonit.png" alt="">
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <div class="meta">
                RockwonIT Global's digital twin enhances real-time understanding, productivity, and safety through linked tasks and systems. Experts develop autonomous platforms, validating marketability through various field-specific use cases.</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom">
            <div class="d-flex thumbnail">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/nsdevil.jpeg" alt="">
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <div class="meta">
                NSD(North Star Developer’s Village) consists of developers who paves the way other people do not go, and is a start-up company in possession of smart device based assessment and learning solutions.</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom">
            <div class="d-flex thumbnail">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/linkedkorea.jpg" alt="">
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <div class="meta">We are developing various blockchain-based services such as blockchain wallet, DApp, and
                NFT market.</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom">
            <div class="d-flex thumbnail">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/ditus-logo.jpg" alt="">
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <div class="meta">​
                Creativity runs in our blood. Imagination is engraved in our DNA.<br/>
                It is a digital twin studio created by experts in movie CG and VFX and CF, Digital marketing, and digital content experts. We are creating all forms of digital content for a feasible meta.</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses course-custom">
            <div class="d-flex thumbnail">
              <img class="img-fluid img-fullwidth" src="images/partner-logo/magnon_studio-logo.jpg" alt="">
              <div class="campaign-overlay"></div>
            </div>
            <div class="d-flex flex-column course-description py-2">
              <div class="meta">MAGNON Studio is an entertainment specialist in Film and TV and drives various area of business such as production, animation, CGI based multiplex contents, oversea collaboration and RnD. We are with CGI infra, production specialized personnel and advanced high-tech capability.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END ICT BUSINESS -->

  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row no-gutters justify-content-center">
        <div class="col-md-12">
          <div class="wrapper">
            <div class="row g-0">
              <div class="col-lg-12 order-lg-last">
                <div class="contact-wrap w-100 p-md-5 p-4">
                  <h3>CONTACT US</h3>
                  <p class="mb-4">We're open for any suggestion or just to have a chat</p>
                  <div class="row mb-4">
                    <div class="col-md-4">
                      <div class="dbox w-100 d-flex align-items-start">
                        <div class="text">
                          <p><span>Address:</span> <!-- 3F, Paxsky building, 26 Ung Van Khiem, 25 ward, Bình Thạnh dist, HCMC -->
                          [[${site.siteAddress}]]
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="dbox w-100 d-flex align-items-start">
                        <div class="text">
                          <p><span>Email:</span> <a th:href="|mailto:${site.siteEmail1}|">[[${site.siteEmail1}]]</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="dbox w-100 d-flex align-items-start">
                        <div class="text">
                          <p><span>Phone:</span> <a th:href="|tel://${site.sitePhone}|">[[${site.sitePhone}]]</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <form id="contactForm" name="contactForm" class="contactForm">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="phone" class="form-control" name="phone" id="subject" placeholder="Phone">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea name="message" class="form-control" id="message" cols="30" rows="4"
                            placeholder="Create a message here"></textarea>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="submit" value="Send Message" class="btn btn-primary">
                          <div class="submitting"></div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- END	BODY -->

<!-- FOOTER -->    
	<section th:insert="fragments/general.html :: footer-banner" id="foot-banner" class="ftco-intro py-5 bg-primary"></section>
    <footer th:insert="fragments/general.html :: footer2" id="footer" class="ftco-footer"></footer>
<!-- END	FOOTER -->    

<!-- SCRIPTS -->
    <div th:insert="fragments/general.html :: jslibs"></div>    


</body>

</html>
