<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
    <!-- copied from fragments.html --><title>AI Development</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" th:content="@{/images/Thumnail.png}">

    <link rel="favicon" th:href="@{/favicon/favicon.ico}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- 	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet"> -->

    <!-- see /fonts/ roboto, merriweather, montserrat already have -->
    <link rel="stylesheet" th:href="@{/css/font.css?v=1}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">

    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <link rel="stylesheet" th:href="@{/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/tiny-slider.css}">
    <link rel="stylesheet" th:href="@{/css/glightbox.min.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link rel="stylesheet" th:href="@{/css/style.css?v=1}">
    <link rel="stylesheet" th:href="@{/css/blog.css?v=2}">
    <link rel="stylesheet" th:href="@{/css/popup.css?v=1}">
    <link rel="stylesheet" th:href="@{/css/banner.css?v=1}">
    <link rel="stylesheet" th:href="@{/scss/custom.css?v=11}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>

<body class="noPrint" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

<!-- HEADER -->
<header th:insert="fragments/general.html :: header" id="header" class="top-wrap"></header>
<nav th:insert="fragments/general.html :: navbar" id="menu" class="navbar navbar-expand-lg ftco-navbar-light"></nav>
<section class="hero-wrap hero-wrap-2 section_about" style="background-image: url('images/bg_4-1.jpg?v=2');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 pt-5 mt-5 text-center">
                <p class="breadcrumbs">
                    <span class="me-2"><a th:href="@{/index}">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span><a th:href="@{/courses}">Courses <i class="fa fa-chevron-right"></i></a></span>
                </p>
                <h1 class="mb-0 bread ">Khóa đào tạo Lập trình viên Trí tuệ nhân tạo (AI) </h1>
            </div>
        </div>
    </div>
</section>

<!-- END	HEADER -->

<!-- BODY -->

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div>
                        <div class="contact-wrap w-100 p-md-5 p-4">
                            <div class="container">
                                <h1 style="text-align:center;">Khóa đào tạo Lập trình viên Trí tuệ nhân tạo (AI)
                                </h1><br>
                                <h5>I. Giới thiệu khóa học
                                </h5>
                                <p>
                                    Khóa học đào tạo lập trình viên Trí tuệ Nhân tạo (AI) cung cấp cho học viên kiến
                                    thức và kỹ năng cần thiết để trở thành những chuyên gia trong lĩnh vực này. Khóa học
                                    này sẽ giúp hiểu rõ về các khía cạnh cơ bản của AI, học cách phát triển các ứng
                                    dụng, khả năng làm việc với dữ liệu, mạng nơ-ron, và các thuật toán học máy… <br>
                                    Theo đó, học viên sẽ có thể tự tin tham gia tuyển dụng các vị trí Lập trình viên AI,
                                    Chuyên gia xây dựng và vận hành hệ thống AI phức hợp, Cố vấn giải pháp AI cho doanh
                                    nghiệp với mức thu nhập từ 55 triệu đồng/tháng. Đồng thời, khóa đào tạo cũng cung
                                    cấp đầy đủ các kiến thức và kỹ năng để tham gia kỳ thi chứng chỉ Tensorflow.


                                </p>

                                <h5>II. Đối tượng tham gia</h5>
                                <ul>
                                    <li>Sinh viên CNTT</li>
                                    <li>Lập trình viên</li>
                                    <li>Người đã đi làm và muốn chuyển ngành</li>
                                    <li>Người làm trong lĩnh vực Bất động sản, Ngân hàng, Chứng khoán, ...</li>
                                </ul>



                                <h5>III. Hình thức đào tạo</h5>
                                <p> <strong>1. Thời gian đào tạo: 8h/buổi, tổng cộng 480 giờ học </strong>
                                </p>
                                <p> <strong>2. Hình thức đào tạo: </strong>
                                </p>
                                <ul>
                                    <li>6 tuần đầu tiên: Học offline tại trường</li>
                                    <li>4 tuần tiếp theo: Học online tại trường, giảng viên giảng dạy qua nền tảng (via Zoom)</li>
                                    <li>2 tuần cuối: Học offline tại trường</li>
                                </ul>

                                <div>
                                    <img alt="" class="img-fluid  img-fullwidth"
                                         src="/images/courses/offline/ai-page.jpg"> <br>
                                </div><br>
<h5>

    IV. Chương trình đào tạo

</h5>
                                <h5>Python Programming</h5>
                                <ul>
                                    <li>Cú pháp cơ bản của Python,
                                    Lập trình hướng đối tượng trong Python</li>
                                    <li>Thu thập dữ liệu web bằng BeautifulSoup và Selenium</li>
                                    <li>Phân tích dữ liệu và trực quan hóa bằng NumPy, pandas và Matplotlib</li>
                                </ul>
                                <h5>Tensorflow</h5>
                                <ul>
                                    <li>DNN (Deep Neural Networks)</li>
                                    <li>CNN (Convolutional Neural Networks)</li>
                                    <li>IDG (Image Data Generator)</li>
                                    <li>RNN (Recurrent Neural Networks) và LSTM (Long Short-Term Memory)</li>
                                    <li>Cơ bản về xử lý ngôn ngữ tự nhiên (Embedding)</li>
                                </ul>
                                <h5>Pytorch</h5>
                                <ul>
                                    <li>DNN </li>
                                    <li>CNN </li>
                                    <li>IDG </li>
                                    <li>RNN, LSTM</li>
                                </ul>
<h5>
    Machine Learning
</h5>
                                <ul>
                                    <li>TensorFlow, Pytorch learning</li>
                                    <li>Perceptron, Convolution Neural Network, Recurrent Neural Network</li>
                                    <li>Reinforcement Learning, Generative Adversarial Network</li>
                                </ul>
                                <h5>
                                    Project kết thúc khóa học
                                </h5>
                                <ul>
                                    <li>Phát triển mô hình dự đoán thông qua phân tích dữ liệu</li>
                                    <li>Phát triển mô hình dự đoán sử dụng trí tuệ nhân tạo (AI)</li>
                                </ul>

                                <h5>V. Khóa đào tạo chứng chỉ Tensorflow trực tiếp chỉ có tại ATCollabo
                                </h5>
                                <p>
                                    Hiện nay, phần lớn các khóa đào tạo TensorFlow trên thị trường được tổ chức trực
                                    tuyến, hạn chế sự tương tác giữa giảng viên và học viên, gây ảnh hưởng đến quá trình
                                    tiếp thu kiến thức và đôi khi tốn nhiều thời gian. Nhận thức về vấn đề này,
                                    ATCollabo đã mở Khóa đào tạo chứng chỉ TensorFlow trực tiếp, tạo điều kiện cho học
                                    viên trải nghiệm học tập thú vị sau:

                                </p>
                                <ul>
                                    <li>Cơ hội được học tập, trao đổi kiến thức kinh nghiệm với giảng viên Hàn Quốc hơn
                                        20 năm kinh nghiệm trong lĩnh vực Trí tuệ nhân tạo, Deep learning, Machine
                                        learning, Tensorflow và Keras…
                                    </li>
                                    <li>Học tập và tương tác trực tiếp với giảng viên ngay tại lớp học, giúp học viên
                                        nắm bắt bài giảng và giải đáp thắc mắc kịp thời.
                                    </li>
                                    <li>
                                        Số lượng học viên ít, 16-25 học viên.
                                    </li>
                                    <li>Số lượng học viên ít, tăng khả năng tương tác giữa giáo viên và học viên.</li>
                                    <li>Phòng học trang bị đầy đủ thiết bị hiện đại, đáp ứng mọi nhu cầu học tập và nghỉ
                                        ngơi của học viên.
                                    </li>
                                </ul>

                                <p>
                                    Hãy đăng ký tham gia khóa học ngay để nhận chứng chỉ Tensorflow, mở ra cơ hội nâng
                                    tầm sự nghiệp ngay bạn nhé!

                                </p>
                                <div class="wrapper-iframe" id="register-form">
                                    <iframe class="iframe-form" aria-label='Đăng ký thông tin tư vấn khóa học'
                                            frameborder="0"
                                            style="height:95rem;width:99%;border:none;overflow: auto;"
                                            src='https://forms.zohopublic.com/atcollabo/form/ngkkhahc/formperma/gQswzUWCp9AVo1cnp_LJJ7JWKshhCTkEsJrIChl5TVE'></iframe>
                                </div>
                                <p>Nếu bạn có bất kỳ thắc mắc gì về khóa học hãy liên hệ với ATCollabo Academy để được giải đáp nhanh chóng nhé</p>
                                <p><strong>ATCollabo Academy</strong></p>
                                <p><strong>Smart Challenge, Education starts with excitement</strong></p>
                                <p><strong>Add:3F, Paxsky building, 26 Ung Van Khiem, 25 Ward, Binh Thanh dist, HCMC</strong> </p>
                                <p><strong>Hotline: 0867-399-188</strong></p>
                                <p><strong>Email:recruitment@atcollabo.com</strong> </p>
                                <p><strong>Website:https://atcollabo.com/</strong></p>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- END	BODY -->

<!-- FOOTER -->
<section th:insert="fragments/general.html :: footer-banner" id="foot-banner"
         class="ftco-intro py-5 bg-primary"></section>
<footer th:insert="fragments/general.html :: footer2" id="footer" class="ftco-footer"></footer>
<!-- END	FOOTER -->

<!-- SCRIPTS -->
<div th:insert="fragments/general.html :: jslibs"></div>

<script th:inline="javascript">


</script>


</body>

</html>
