<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments/general.html :: headerfiles">
    <!-- copied from fragments.html -->
</head>

<body class="noPrint" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
<!-- HEADER -->
<header th:insert="fragments/general.html :: header" id="header" class="top-wrap"></header>
<nav th:insert="fragments/general.html :: navbar" id="menu" class="navbar navbar-expand-lg ftco-navbar-light"></nav>
<section id="banner"
         class="hero-wrap background-section"
         style="background-image: url('images/bg_1-1.jpeg?v=9'); background-position: center;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center">
            <div class="col-lg-5">
                <div class="text mt-5 pt-5" style="font-family: 'Montserrat', sans-serif;" data-aos="fade-up"
                     data-aos-delay="300" data-aos-duration="1000">
                    <span class="subheading" style="font-size: 20px;">Welcome to ATCollabo</span>
                    <h1 id="bannerTitle"
                        class="mb-4" style="font-size: 55px !important;">Smart Challenge, Education starts with
                        excitement</h1>
                    <p id="bannerSummary"
                       class="mb-4" style="font-size: 20px;">
                        Professional operator of IT experiential education<br>
                        IT education experience to learn
                        while having fun.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END	HEADER -->

<!-- BODY -->
<!-- START ABOUT US -->
<section class="ftco-section section-about my-3">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="mb-5">ABOUT US</h2>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-12" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                <h2 class="subheading main-title">VISION</h2>
                <div class="row mt-2 g-lg-2">
                    <p class="text mb-0 main-content">
                        Become a leading organization in ICT education and the related technology industry,
                        expanding
                        from Vietnam to the entire ASEAN region.
                    </p>
                    <p class="text main-content">
                        We focus on providing high-quality training courses with content designed by top experts and
                        applying methods and curricula from South Korea, one of the most advanced countries in
                        information
                        technology.
                    </p>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-md-12" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                <h2 class="subheading main-title">MISSIONS</h2>
                <div class="row mt-2 g-lg-2">
                    <p class="mb-0 text main-content">
                        Training and developing high-quality human resources for the technology industry in Vietnam, we
                        are
                        committed to providing students with high-quality courses, including in-depth courses and
                        practical
                        vocational training programs, to meet the needs of businesses and organizations in recruiting
                        highly
                        skilled employees who are ready to work in modern digital environments.
                    </p>
                    <p class="main-content">
                        We believe that with a team of experienced and professional teachers, advanced programs and
                        effective
                        training methods, we will be a reliable training partner for businesses and students in the
                        technology
                        field in Vietnam and ASEAN countries."
                    </p>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-12 d-flex read-more-container py-3">
                <img src="images/logo.png" alt="">
                <div class="text">You can check out more about ATCollabo.</div>
                <a class="read-more" th:href="@{/about}">Learn more</a>
            </div>
        </div>
    </div>
</section>
<!-- END	ABOUT US -->

<!-- START COURSE -->
<section class="ftco-section courses-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="mb-5">COURSES</h2>
            </div>
        </div>
        <div class="row">
            <a th:href="@{/courses/online}" class="col-md-4 col-lg-4" data-aos="flip-left" data-aos-delay="100"
               data-aos-duration="1000">
                <div class="courses course-custom">
                    <div class="d-flex thumbnail">
                        <img class="img-fluid img-fullwidth" src="images/courses/02.png" alt="">
                        <div class="campaign-overlay"></div>
                    </div>
                    <div class="d-flex flex-column course-description py-2">
                        <div class="category">
                            <h2>ONLINE</h2>
                        </div>
                        <div class="title">
                            <h3>GLOBEPOINT - JUNIOR CODING</h3>
                        </div>
                    </div>
                </div>
            </a>

            <a th:href="@{/courses/codepresso}" class="col-md-4 col-lg-4" data-aos="flip-left" data-aos-delay="100"
               data-aos-duration="1000">
                <div class="courses course-custom">
                    <div class="d-flex thumbnail">
                        <img class="img-fluid img-fullwidth"
                             src="images/courses/Learning Data Analysis with Python- NumPy.png" alt="">
                        <div class="campaign-overlay"></div>
                    </div>
                    <div class="d-flex flex-column course-description py-2">
                        <div class="category">
                            <h2>ONLINE</h2>
                        </div>
                        <div class="title">
                            <h3>CODE.PRESSO - SENIOR CODING</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a th:href="@{/courses/bootcamp}" class="col-md-4 col-lg-4" data-aos="flip-left" data-aos-delay="100"
               data-aos-duration="1000">
                <div class="courses course-custom">
                    <div class="d-flex thumbnail">
                        <img class="img-fluid img-fullwidth" src="images/courses/smart-ai-robot.png" alt="">
                        <div class="campaign-overlay"></div>
                    </div>
                    <div class="d-flex flex-column course-description py-2">

                        <div class="category">
                            <h2>OFFLINE</h2>
                        </div>
                        <div class="title">
                            <h3>SMART&PLAY - KIDS CODING</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a th:href="@{/courses/offline}" class="col-md-4 col-lg-4" data-aos="flip-left" data-aos-delay="100"
               data-aos-duration="1000">
                <div class="courses course-custom">
                    <div class="d-flex thumbnail">
                        <img class="img-fluid img-fullwidth" src="images/courses/java.png" alt="">
                        <div class="campaign-overlay"></div>
                    </div>
                    <div class="d-flex flex-column course-description py-2">
                        <div class="d-flex flex-column course-description py-2">
                            <div class="category">
                                <h2>OFFLINE</h2>
                            </div>
                            <div class="title">
                                <h3>ATC - OFFLINE CLASSES</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </a>

            <a th:href="@{/courses/cloud}" class="col-md-4 col-lg-4" data-aos="flip-left" data-aos-delay="100"
               data-aos-duration="1000">
                <div class="courses course-custom">
                    <div class="d-flex thumbnail">
                        <img class="img-fluid img-fullwidth" src="images/courses/cloud-computing.jpeg" alt="">
                        <div class="campaign-overlay"></div>
                    </div>
                    <div class="d-flex flex-column course-description py-2">
                        <div class="d-flex flex-column course-description py-2">
                            <div class="category">
                                <h2>OFFLINE</h2>
                            </div>
                            <div class="title">
                                <h3>ATC - CLOUD & DEVOPS</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a th:href="@{/courses/adult}" class="col-md-4 col-lg-4" data-aos="flip-left" data-aos-delay="100"
               data-aos-duration="1000">
                <div class="courses course-custom">
                    <div class="d-flex thumbnail">
                        <img class="img-fluid img-fullwidth" src="images/courses/5_Best_Metaverse_Courses_in_2023.jpg"
                             alt="">
                        <div class="campaign-overlay"></div>
                    </div>
                    <div class="d-flex flex-column course-description py-2">
                        <div class="d-flex flex-column course-description py-2">
                            <div class="category">
                                <h2>OFFLINE</h2>
                            </div>
                            <div class="title">
                                <h3>ATC - ADULT BOOTCAMP</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
</section>
<!-- END	COURSE -->

<!-- START COLLABORATOR -->
<section class="ftco-section collaborator-section">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="mb-5">COLLABORATOR</h2>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col-md-12 company-list">
                <div class="company">
                    <img src="images/partner-logo/AIPalm_AIA-logo.jpg" alt="">
                </div>
                <div class="company">
                    <img src="images/partner-logo/BITCamp-logo.png" alt="">
                </div>
                <div class="company">
                    <img src="images/partner-logo/Codepresso-logo-blue.png" alt="">
                </div>
                <div class="company">
                    <img src="images/partner-logo/globepoint.png" alt="">
                </div>
                <div class="company">
                    <img src="images/partner-logo/SmartnPlay-logo.png" alt="">
                </div>
                <div class="company">
                    <img src="images/partner-logo/BA-logo-black.png" alt="">
                </div>
                <div class="company">
                    <img src="images/partner-logo/ThePlayer-logo.png" alt="">
                </div>
                <div class="company">
                    <img src="images/partner-logo/aipalm.jpg" alt="">
                </div>
                <div class="company">
                    <img src="images/partner-logo/BASESTONE_gray-logo.jpg" alt="">
                </div>
                <div class="company">
                    <img src="images/partner-logo/deepscent-logo.png" alt="">
                </div>
                <div class="company">
                    <img src="images/partner-logo/nanorex.jpg" alt="">
                </div>
                <div class="company">
                    <img src="images/partner-logo/rockwonit.png" alt="">
                </div>
                <div class="company">
                    <img src="images/partner-logo/nsdevil.jpeg" alt="">
                </div>
                <div class="company">
                    <img src="images/partner-logo/linkedkorea.jpg" alt="">
                </div>
                <div class="company">
                    <img src="images/partner-logo/ditus-logo.jpg" alt="">
                </div>
                <div class="company">
                    <img src="images/partner-logo/magnon_studio-logo.jpg" alt="">
                </div>

            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-12">
                <img src="images/bg_map.jpg" alt="" class="img-fluid" style="border-radius: 20px;">
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-12 d-flex read-more-container py-3">
                <img src="images/logo.png" alt="">
                <div class="text">You can check out more about ATCollabo.</div>
                <a class="read-more" href="business.html">Learn more</a>
            </div>
        </div>
    </div>
</section>

<!-- END	COLLABORATOR -->

<!-- END	BODY -->

<!-- FOOTER -->
<section th:insert="fragments/general.html :: footer-banner" id="foot-banner"
         class="ftco-intro py-5 bg-primary"></section>
<footer th:insert="fragments/general.html :: footer" id="footer" class="ftco-footer"></footer>
<!-- END	FOOTER -->


<!-- POPUP -->
<!--<section id="popupSection" data-aos="flip-up" data-aos-duration="2000" >-->
<!--    <a th:href="@{|/blog/${blogTitle}|}">-->
<!--        <div id="popupImage" width="100%">-->
<!--            <img src="images/popup/scale-corner.png" alt="">-->
<!--        </div>-->
<!--    </a>-->
<!--    <div id="popupFooter" class="row" style="padding-left: 12px;padding-right: 12px;">-->
<!--        <button id="popupCloseToday" class="col-md-4">CLOSED TODAY</button>-->
<!--        <button id="popupClose" class="col-md-4">CLOSE</button>-->
<!--    </div>-->
<!--    <div style="clear: both;"></div>-->
<!--</section>-->
<!--  END	POPUP -->


<!-- SCRIPTS -->
<div th:insert="fragments/general.html :: jslibs"></div>
<script th:src="@{/js/popup.js?v=1}"></script>


</body>

</html>