
.blog-single {	
/* 	text-align: center; */
	color:#68aaa5;
}

.blog-single h2, .blog-single .h2 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500; 
}


/* 섬머노트에서 작성한 포스트 내용을 가운데 정렬하려 했으나 에디터에서의 스타일과 충돌 생김*/
#blogContent {
	/* 자식요소들 수평 중앙 정렬	*/
/* 	display: flex; */
/* 	justify-content: center; */
}
#blogContent table {
	width: 100%;
	margin: 0 auto;	
}
  
