

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   	<title>ATCvengers</title>

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"  rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link th:href="@{/css/font.css}" rel="stylesheet" />
    <link th:href="@{/admin/css/style.css}" rel="stylesheet" />    

</head>
<body>

<section class="container-fluid">
	<header>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="/">ATC</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" th:href="@{/admin}">Dashboard</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/admin/blog}">News&Event</a>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Hackathon
	          </a>
	          <ul class="dropdown-menu">
	            <li><a class="dropdown-item" th:href="@{/admin/hackathon/}">LIST</a></li>
	            <li><a class="dropdown-item" th:href="@{/admin/hackathon/put}">OPEN</a></li>
	            <li><hr class="dropdown-divider"></li>
	            <li><a class="dropdown-item" href="#">Something else here</a></li>
	          </ul>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	        </li>
	      </ul>
	      <form class="d-flex" role="search">
	        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
	        <button class="btn btn-outline-success" type="submit">Search</button>
	      </form>
	    </div>
	  </div>
	</nav>
	</header>
</section>
	
<section class="container">	
	<div class="card">
  		<div class="card-header">
    		Applicant List
  		</div>
  		<div class="card-body">
			<h5 class="card-title">#</h5>
    		<p class="card-text">$</p>
			<table id="enroltables" class="table table-striped" style="width:100%">
				<thead>
					<tr>
						<td>no</td>
						<td>for</td>
						<td>name</td>
						<td>phone</td>
						<td>email</td>
						<td>date</td>
						<td>...</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="enrol: ${enrolments}">
						<td th:text="${enrol.enrolPk}">no</td>
						<td th:text="${enrol.enrolFor}">for</td>
						<td th:text="${enrol.enrolName}">name</td>
						<td th:text="${enrol.enrolPhone}">phone</td>
						<td th:text="${enrol.enrolEmail}">email</td>
						<td th:text="${#temporals.format(enrol.dateCreate, 'yyyy-MM-dd HH:mm')}">date</td>
						<td>...</td>
					</tr>
				</tbody>
			</table>
   		</div>
  		<div class="card-footer">
    		Featured...
  		</div>
	</div><!-- // card -->

</section><!-- // container -->

<hr>
<section class="container">	
	<div class="card">
  		<div class="card-header">
    		Contact inquery List
  		</div>
  		<div class="card-body">
			<h5 class="card-title">#</h5>
    		<p class="card-text">$</p>
			<table id="contacttables" class="table table-striped" style="width:100%">
				<thead>
					<tr>
						<td>no</td>
						<td>name</td>
						<td>email</td>
						<td>subject</td>
						<td>message</td>
						<td>date</td>
						<td>...</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contact: ${contacts}">
						<td th:text="${contact.inqPk}">no</td>
						<td th:text="${contact.inqName}">name</td>
						<td th:text="${contact.inqEmail}">email</td>
						<td th:text="${contact.inqSubject}">for</td>
						<td th:text="${contact.inqMessage}">message</td>
						<td th:text="${#temporals.format(contact.dateCreate, 'yyyy-MM-dd HH:mm')}">date</td>
						<td>...</td>
					</tr>
				</tbody>
			</table>
   		</div>
  		<div class="card-footer">
    		Featured...
  		</div>
	</div><!-- // card -->

</section><!-- // container -->

<hr>
<section class="container">
	<div class="card">
  		<div class="card-header">
    		Site Information
  		</div>
  		<div class="card-body">
			<h5 class="card-title">#</h5>
    		<p class="card-text">$</p>
			<form th:action="@{/admin/site/post}" method="post" enctype="multipart/form-data">
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>				
				<input type="hidden" name="id" th:value="${site.sitePk}"/>				
				<div class="mb-3">
					<label for="title" class="form-label">Title</label>
					<input class="form-control form-control-sm" name="title" type="text" th:value="${site.siteTitle}">
				</div>
				<div class="mb-3">
					<label for="title" class="form-label">Address</label>
					<input class="form-control form-control-sm" name="address" type="text" th:value="${site.siteAddress}">
				</div>
				<div class="mb-3">
					<label for="title" class="form-label">Phone</label>
					<input class="form-control form-control-sm" name="phone" type="text" th:value="${site.sitePhone}">
				</div>
				<div class="mb-3">
					<label for="title" class="form-label">Email 1</label>
					<input class="form-control form-control-sm" name="email1" type="text" th:value="${site.siteEmail1}">
				</div>
				<div class="mb-3">
					<label for="type" class="form-label">Type</label>
					<input class="form-control form-control-sm" name="type" type="text" th:value="${site.siteType}">
				</div>
				<div class="mb-3">
					<label for="start" class="form-label">Working Day</label>
					<input class="form-control form-control-sm" name="workday" type="text" th:value="${site.siteWorkday}">
				</div>
				<div class="mb-3">
					<label for="end" class="form-label">Working Time</label>
					<input class="form-control form-control-sm" name="worktime" type="text" th:value="${site.siteWorktime}" >
				</div>
				<div class="mb-3">
					<label for="images" class="form-label">Logo</label>
					<input class="form-control form-control-sm" name="logo" type="file">
				</div>
				<div class="mb-3">
					<label for="images" class="form-label">Logo Nav</label>
					<input class="form-control form-control-sm" name="logonav" type="file">
				</div>
				<div class="mb-3">
					<label for="images" class="form-label">Logo Foot</label>
					<input class="form-control form-control-sm" name="logofoot" type="file">
				</div>
				<div class="mb-4">
					<input type="submit" class="btn btn-primary" value="CHANGE">				
				</div>
			</form>

   		</div>
  		<div class="card-footer">
    		Featured...
  		</div>
	</div><!-- // card -->
		
</section><!-- // container -->

<hr>

<section class="container-fluid">
	<footer>
		<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]</h1>
		<br>
		<h1 th:inline="text">username: [[${username}]]</h1>
	 
		<!--SYSTEM 역할을 갖는다면 이 글이 보임-->
		<h3 sec:authorize="hasRole('관리자')">Has '관리자' Role</h3>
	 	 
		<!--어떤 역할이건 상관없이 인증이 되었다면 이 글이 보임-->
		<h3 sec:authorize="isAuthenticated()">Only Authenticated user can see this Text</h3>
	 
		<div>
<!--  			Authorities : <span sec:authentication="principal.authorities"></span> -->
 		</div>
		<br>
	</footer>
</section>


	<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

	<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>

    <script th:inline="javascript">
    	const tableOpt = {
   			lengthChange: true,
   			ordering: true,
   	        dom: 'Bfrtip',
   	        buttons: [
   	            'excel', 
   	            'pdf'
   	        ]    			
    	};
 		new DataTable('#enroltables',tableOpt);
 		new DataTable('#contacttables',tableOpt);

 </script>

</body>
</html>

