
$color_1: #FFF;
$color_2: #484848;
$font-family_1: 'Oswald', sans-serif;
$background-color_1: rgba(218, 245, 255, 0.97);
$background-color_2: rgba(34, 152, 195, 0.84);
$background-color_3: #65B5D0;
$background-color_4: #ffffff;
$background-color_5: #ffffff;
$itemWidth: 130px;
$itemWidthMargin: -31px;
$itemWidthMobile: 75px;
@media only screen and (max-width: 600px) {
    $itemWidth: 70px;
	$itemWidthMargin: -31px;
}
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700";
/* ### main Menu Overlay */
/* Hover */
@-webkit-keyframes Floatingx {
	from {
		-webkit-transform: translate(0, 0px);
	}
	65% {
		-webkit-transform: translate(0, 5px);
	}
	to {
		-webkit-transform: translate(0, -0px);
	}
}
@-moz-keyframes Floating {
	from {
		-moz-transform: translate(0, 0px);
	}
	65% {
		-moz-transform: translate(0, 5px);
	}
	to {
		-moz-transform: translate(0, -0px);
	}
}
@-webkit-keyframes Floatingx2 {
	from {
		-webkit-transform: translate(0, 0px);
	}
	45% {
		-webkit-transform: translate(0, 8px);
	}
	to {
		-webkit-transform: translate(0, -0px);
	}
}
@-moz-keyframes Floating2 {
	from {
		-moz-transform: translate(0, 0px);
	}
	45% {
		-moz-transform: translate(0, 8px);
	}
	to {
		-moz-transform: translate(0, -0px);
	}
}
@-webkit-keyframes Floatingx3 {
	from {
		-webkit-transform: translate(0, 0px);
	}
	50% {
		-webkit-transform: translate(2px, 4px);
	}
	to {
		-webkit-transform: translate(0, -0px);
	}
}
@-moz-keyframes Floating3 {
	from {
		-moz-transform: translate(0, 0px);
	}
	50% {
		-moz-transform: translate(2px, 4px);
	}
	to {
		-moz-transform: translate(0, -0px);
	}
}
.navire {
	background: url(https://res.cloudinary.com/dioieuprs/image/upload/v1471359656/navire_n02z6s.png) no-repeat;
	background-size: 100% auto;
	width: 120px;
	height: 100px;
	position: absolute;
	top: -50px;
	right: -130px;
	-webkit-transition: right 0.2s ease;
	transition: right 0.2s ease;
}
.mainMenuOverlay.open .wrap {
	.navire {
		right: 70%;
		-webkit-transition: right 28s ease 1s;
		transition: right 28s ease 1s;
	}
    top: 0;
	.toggleMenu {
		top: calc(50% - 65px);
		background-color: $background-color_4;
	}
	.itemMenuBox {
		width: $itemWidth*2.5;
		-webkit-transition: all 1s ease 0s;
		transition: all 1s ease 0s;
	}
}
.mainMenuOverlay {
	display: block;
    height: 80vh;
	overflow: hidden;
	position: relative;
	.wrap{
	// background-color: $background-color_2;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	height: 100%;
	// box-shadow: 0 0 15px -3px #03374A;
	// border-radius: 100% 100% 0 0 / 14% 14% 0 0;
	// -webkit-transition: bottom 0.5s ease;
	transition: bottom 0.5s ease;

	.toggleMenu {
		display: block;
		background-color: $background-color_3;
		border: 1px solid #FFF;
		border-radius: 50%;
		width: $itemWidth;
		height: $itemWidth;
		position: absolute;
		top: -12px;
		left: 47%;
		margin: $itemWidthMargin 0 0 $itemWidthMargin;
		cursor: pointer;
		font-size: 24px;
		color: $color_1;
		text-align: center;
		line-height: 62px;
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2) inset, 0 0 16px -4px #063343;
		-webkit-transition: box-shadow 0.5s ease, top 0.5s ease;
		transition: box-shadow 0.5s ease, top 0.5s ease;
        .wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 20px;
            img{
                width: 100%;
            }
        }
	}
	.itemMenuBox {
		background: url(https://res.cloudinary.com/dioieuprs/image/upload/v1466688705/floating-menu/go2.png) no-repeat center center;
		background-size: 28px auto;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -31px 0 0 -31px;
		height: $itemWidth;
		width: $itemWidth;
		text-align: right;
		border-radius: 40px;
		-webkit-transform-origin: 31px 31px;
		-ms-transform-origin: 31px 31px;
		transform-origin: 31px 31px;
		-webkit-transition: all 1s ease 0.4s;
		transition: all 1s ease 0.4s;
		.itemMenu {
			display: inline-block;
			border: 2px solid rgba(255,255,255,0.6);
			background-color: $background-color_5;
			background-repeat: no-repeat;
			background-position: center center;
			width: $itemWidth;
			height: $itemWidth;
			border-radius: 50%;
			transition: all 0.8s ease;
			color: $color_1;
			font-size: 28px;
			line-height: 64px;
			text-align: center;
            overflow: hidden;
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2) inset, 0 0 16px -4px #063343;
            .wrap{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 20px;
                img{
                    width: 100%;
                }
            }
			
		}
	}
	.itemMenuBox.bills {
		-webkit-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: rotate(270deg);
		.itemMenu {
			-webkit-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
			&:hover {
				-webkit-transform: rotate(450deg);
				-ms-transform: rotate(450deg);
				transform: rotate(450deg);
			}
		}
	}
	.itemMenuBox.tarsheed {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
		.itemMenu {
			-webkit-transform: rotate(40deg);
			-ms-transform: rotate(40deg);
			transform: rotate(40deg);
			&:hover {
				-webkit-transform: rotate(390deg);
				-ms-transform: rotate(390deg);
				transform: rotate(390deg);
			}
		}
	}
	.itemMenuBox.employees {
		transform: rotate(50deg);
		.itemMenu {
			transform: rotate(360deg);
			&:hover {
				transform: rotate(690deg);
			}
		}
	}
	.itemMenuBox.location {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		.itemMenu {
			-webkit-transform: rotate(270deg);
			-ms-transform: rotate(270deg);
			transform: rotate(270deg);
			&:hover {
				-webkit-transform: rotate(630deg);
				-ms-transform: rotate(630deg);
				transform: rotate(630deg);
			}
		}
	}
	.itemMenuBox.eservices {
		-webkit-transform: rotate(150deg);
		-ms-transform: rotate(150deg);
		transform: rotate(150deg);
		.itemMenu {
			-webkit-transform: rotate(210deg);
			-ms-transform: rotate(210deg);
			transform: rotate(210deg);
			&:hover {
				-webkit-transform: rotate(570deg);
				-ms-transform: rotate(570deg);
				transform: rotate(570deg);
			}
		}
	}
	.itemMenuBox.contact {
		-webkit-transform: rotate(210deg);
		-ms-transform: rotate(210deg);
		transform: rotate(210deg);
		.itemMenu {
			-webkit-transform: rotate(150deg);
			-ms-transform: rotate(150deg);
			transform: rotate(150deg);
			&:hover {
				-webkit-transform: rotate(510deg);
				-ms-transform: rotate(510deg);
				transform: rotate(510deg);
			}
		}
	}
}
}
.floating {
	-webkit-animation-name: Floatingx;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: Floating;
	-moz-animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
}
.floating2 {
	-webkit-animation-name: Floatingx2;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: Floating2;
	-moz-animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
}
.floating3 {
	-webkit-animation-name: Floatingx3;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: Floating3;
	-moz-animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
}
.signatureBox {
	text-align: right;
	padding: 4px;
}
.signatureBox.fixed {
	position: fixed;
	bottom: 8px;
	right: 8px;
}
.signature {
	color: $color_2;
	a {
		color: $color_2;
	}
	&:before {
		display: inline-block;
		overflow: hidden;
		vertical-align: bottom;
		-webkit-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		width: 11px;
		content: 'Mahmoud';
	}
	&:after {
		display: inline-block;
		overflow: hidden;
		vertical-align: bottom;
		-webkit-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		width: 11px;
		content: 'NBET';
		margin-left: 0px;
		width: 10px;
	}
	&:hover {
		color: $color_2;
		&:before {
			width: 76px;
		}
		&:after {
			width: 34px;
			margin-left: 3px;
		}
	}
}
